#top-page {
    background-color: rgb(207, 41, 41);
    width: 2400px;
    height: 800px;
    position: absolute;
}

.earn-money {
    color: white;
    margin-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #f35de7;
    text-decoration: none;
}

#donation-img {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-right: 10px;
    /* margin-right: 10px; */
}

#top-text {
    color: white;
    /* margin-top: 200px; */
}

.image1 {
    margin-left: 50px;
}

#donation {
    margin-top: 200px;
    margin-bottom: -200px;
    color: white;
}

#collect-affection {
    text-align: center;
    margin-top: 400px;
}

#text-h1 {
    text-align: center;
    margin-top: 50px;
}

.image {
    width: 575px;
    height: 450px;
}

.text {
    color: rgb(230, 26, 26);
    margin-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #f35de7;
    text-decoration: none;
}