#btn1 {
    display: grid;
    text-align: center;
}

#send-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(123, 5, 134);
    background-color: rgb(233, 171, 171);
}

#back-btn {
    color: rgb(211, 74, 74);
    font-size: 25px;
}

.parent-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 500px;
}